<?php
/*
 * Copyright (c) 2016, webvariants GbR, http://www.webvariants.de
 *
 * This file is released under the terms of the MIT license. You can find the
 * complete text in the attached LICENSE file or online at:
 *
 * http://www.opensource.org/licenses/mit-license.php
 */

use wv\Discounts\Model\Campaign as CampaignModel;

$action = $_router->getUrl('campaigns', 'campaign', '', '&');
$form   = new sly_Form($action, 'POST', 'Kampagne bearbeiten', '', 'wv-discounts-campaign');

$form->beginFieldset('Eigenschaften');

if ($method === 'edit') {
	$form->addHiddenValue('id', $campaign->getId());
}

$title = new sly_Form_Input_Text('title', 'Bezeichnung', $campaign->getTitle());
$title->setRequired();
$form->add($title);

$uuid = new sly_Form_Input_Text('uuid', 'UUID', $campaign->getUUID());
$form->add($uuid);

if ($type === 'coupon') {
	$attendance = new sly_Form_Input_Number('attendance', t('wv.discounts.attendance'), $campaign->isReusable() ? 0 : $campaign->getAttendance(), 'attendance');
	$attendance->setRequired();
	$attendance->setMin(1);
	$attendance->setDisabled($campaign->isReusable());
	$form->add($attendance);

	$reusable = new sly_Form_Input_Checkbox('reusable', null, 1, 'Als wiederverwendbare Kampagne anlegen?');
	$reusable->setChecked($campaign->isReusable());
	$form->add($reusable);

	$code = new sly_Form_Input_Text('code', 'Code', $campaign->getCode(), 'code');
	$code->addFormRowClass($campaign->isReusable() ?: 'sly-hidden');
	$form->add($code);
}


$statuses = array(
	CampaignModel::STATUS_DISABLED  => 'Deaktiviert',
	CampaignModel::STATUS_ENABLED   => 'Aktiviert',
	CampaignModel::STATUS_COMPLETED => 'Beendet',
);

$form->add(new sly_Form_Select_DropDown('status', t('wv.discounts.state'), $campaign->getStatus(), $statuses));

$starts = new sly_Form_DateTime('starts', 'Beginn', $campaign->getStartDate());
$starts->setRequired();
$form->add($starts);

$expires = new sly_Form_DateTime('expires', 'Ablaufdatum', $campaign->getExpiryDate());
$expires->setRequired();
$form->add($expires);

$form->beginFieldset('Beträge');

$computations = array(
	CampaignModel::COMPUTATION_PERCENTAGE => 'Prozentual',
	CampaignModel::COMPUTATION_ABSOLUTE   => 'Absolut'
);

$form->add(new sly_Form_Select_Radio('computation', 'Berechnung', $campaign->getComputation(), $computations));

if ($type === 'coupon') {
	$types = array(
		CampaignModel::TYPE_DISCOUNT => 'Rabatt',
		CampaignModel::TYPE_BONUS    => 'Gutschrift'
	);

	$form->add(new sly_Form_Select_Radio('type', 'Typ', $campaign->getType(), $types));
}

if ($type === 'product') {
	$form->addHiddenValue('type', CampaignModel::TYPE_DISCOUNT);
}

$amount = new sly_Form_Input_Number('amount', 'Betrag', $campaign->getAmount());
$amount->setRequired();
$amount->setMin(0);
$form->add($amount);

$form->beginFieldset('Bedingungen');

$min = new sly_Form_Input_Number('min', 'Bestellwert (min)', $campaign->getMin());
$min->setRequired();
$min->setMin(0);
$form->add($min);

$max = new sly_Form_Input_Number('max', 'Bestellwert (max)', $campaign->getMax());
$max->setRequired();
$max->setMin(0);
$form->add($max);

if ($type === 'product') {
	$form->beginFieldset('Produkte');

	$productsInputHtml = '<ul>';
	$curPath           = null;
	$tree              = new sly_Util_Array();

	foreach ($products as $product) {
		$key = str_replace('|', '/', $product->getArticle()->getPath());

		if ($product->getArticle()->isStartArticle()) {
			$key .= $product->getId().'/';
		}

		$tree->set($key.$product->getId(), $product);
	}

	$tree = $tree->get('/');

	$callback = function($item, $key) use ($_router, $campaign, $selectedCategories, &$productsInputHtml, &$callback) {
		if(is_array($item) && count($item) === 1 && reset($item) instanceof wv\Payments\Model\Product) {
			$item = reset($item);
		}

		if(is_array($item)) {
			$category = sly_Util_Category::findById($key);
			$productsInputHtml .= '<li>';
			$productsInputHtml .= sprintf('<div class="toggle"></div><input type="hidden" name="categories[%s]" value="0" /><input type="checkbox" name="categories[%s]" value="1" %s />%s</a>',
									$category->getId(),
									$category->getId(),
									(in_array($category->getId(), $selectedCategories) ? 'checked="checked"' : ''),
									$category->getName()
								);
			$productsInputHtml .= '<ul>';
			array_walk($item, $callback);
			$productsInputHtml .= '</li></ul>';
		}
		else {
			$cID = $item->getValue('wv.discounts.campaign');
			$productsInputHtml .= sprintf('<li><input type="hidden" name="products[%s]" value="0" /><input type="checkbox" name="products[%s]" value="1" %s %s /><a href="%s">%s</a></li>',
									$item->getId(),
									$item->getId(),
									($cID > 0 && $cID == $campaign->getId() ? 'checked="checked"' : ''),
									($cID > 0 && $cID != $campaign->getId() ? 'disabled="disabled"' : ''),
									$_router->getUrl('content', '', array('article_id' => $item->getId(), 'clang' => $item->getClang())),
									$item->getName()
								);
		}

	};

	array_walk($tree, $callback);

	$productsInputHtml .= '</ul>';

	$productsInput = new sly_Form_Container('wv-discounts-campaign-products',  '', '', $productsInputHtml);
	$form->add($productsInput);
}

$form->getSubmitButton()->setValue(t('save'));
$form->getResetButton()->setValue(t('reset'));

print sly_Helper_Message::renderFlashMessage();
print $form->render();
