<?php
/*
 * Copyright (c) 2016, webvariants GbR, http://www.webvariants.de
 *
 * This file is released under the terms of the MIT license. You can find the
 * complete text in the attached LICENSE file or online at:
 *
 * http://www.opensource.org/licenses/mit-license.php
 */

$table   = new sly_Table('discounts-campains-product');
$addLink = $_router->getUrl('campaigns', 'add', array('type' => 'product'));
$addImg  = sly\Assets\Util::addOnUri('webvariants/discounts', 'images/add.png');
$addUnit = sly_Table_Column::icon($addImg, $addLink);

$table->addColumn($addUnit);
$table->addColumn(new sly_Table_Column(t('wv.discounts.campaign')));
$table->addColumn(new sly_Table_Column(t('wv.discounts.begin')));
$table->addColumn(new sly_Table_Column(t('wv.discounts.end')));
$table->addColumn(new sly_Table_Column(t('wv.discounts.state')));
$table->addColumn(new sly_Table_Column(t('wv.discounts.options')));
$table->setCaption(t('wv.discounts.products'));
$table->setIsEmpty(empty($campaigns));
$table->setEmptyNotice(t('wv.discounts.no-campaigns'));
$table->openBuffer();

$deleteImg  = sly\Assets\Util::addOnUri('webvariants/discounts', 'images/delete.png');

foreach ($campaigns as $campaign) {
	$deleteLink = $_router->getUrl('campaigns', 'delete', array('id' => $campaign->getId()), '&');

?>
	<tr>
		<td class="sly-icon"><?php print $campaign->getId() ?></td>
		<td>
			<a href="<?php print $_router->getUrl('campaigns', 'edit', array('id' => $campaign->getId(), 'type' => 'product')) ?>">
				<?php print sly_html($campaign->getTitle()) ?>
			</a>
		</td>
		<td><?php print sly_Util_String::formatDatetime($campaign->getStartDate()) ?></td>
		<td><?php print sly_Util_String::formatDatetime($campaign->getExpiryDate()) ?></td>
		<td><?php print $campaign->getStatus() ?></td>
		<td>
			<?php print sprintf('<a href="%s" onclick="return confirm(\'Kampagne wirklich löschen?\')"><img src="%s" alt="Kampagne löschen" title="Kampagne löschen"></a>', $deleteLink, $deleteImg) ?>
		</td>
	</tr>
	<?php
}

$table->closeBuffer();
print $table->render();

