@import 'css3.less';
@import 'border-radius.less';

#discounts-campains-product,
#discounts-campains-coupon {
	a img {
		vertical-align: top;
	}
	
	caption {
		height: 30px;
		line-height: 30px;
		color: #fff;
		text-indent: 10px;
		font-weight: bold;
	}
}

#wv-discounts-campaign-products {
	li {
		list-style: none;
	}
	
	li ul {
		margin-left: 40px;
		margin-bottom: 15px;
	}
	
	.toggle {
		float: left;
		position: relative;
		top: 4px;
		margin-right: 5px;
		transition: transform .5s;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 10px 5px 0 5px;
		border-color: #4d4646 transparent transparent transparent;
	}
	
	.toggle.closed {
		transform: rotate(-90deg);
	}
}